<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenGLOW - Plant Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='about_us.css') }}">



</head>

<body>

    <!-- Navigation Bar -->
    <header class="navbar">
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="GreenGlow Logo" />
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="{{ url_for('indoor_plants') }}">Indoor Plants</a></li>
                <li><a href="{{ url_for('garden_plants') }}">Garden Plants</a></li>
                <li><a href="{{ url_for('common_diseases') }}">Common Diseases</a></li>
                <li><a href="{{ url_for('about_us') }}" class="active">Meet Us</a></li>
            </ul>
        </nav>
    </header>

    <!-- Developer Section with Glassmorphism Effect -->
    <section class="developer-section">
        <!-- Black Background Overlay with Glassmorphism -->
        <div class="background-overlay"></div>

        <div class="developer-content">
            <div class="cards-container">
                <!-- First Card -->
                <div class="card card-right">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='Nishant.png') }}" alt="Nishant Profile Image"
                            class="developer-img">
                    </div>
                    <div class="card-content">
                        <h2>NISHANT KUMAR</h2>
                        <p>I am a final-year Computer Science student at KiiT University with strong expertise in C/C++,
                            Python, and Data
                            Structures and Algorithms. I have hands-on experience in Data Analysis and Machine Learning,
                            including building and
                            deploying models in the cloud. As a Front-End Developer, I am skilled in HTML, CSS, and
                            JavaScript, creating responsive
                            and user-friendly web interfaces.</p>
                        <div class="card-buttons">
                            <a href="https://drive.google.com/file/d/1YHFs0NQ2fQkjxxrxeuS5QfXwTxFUg0ne/view?usp=drive_link"
                                class="btn resume" target="_blank"><i class="fas fa-file-alt"></i>Resume</a>
                            <a href="https://www.linkedin.com/in/nishantr846/" class="btn linkedin" target="_blank"><i
                                    class="fab fa-linkedin"></i>LinkedIn</a>
                            <a href="mailto:nishantr846@gmail.com" class="btn email"><i
                                    class="fas fa-envelope"></i>Email Us</a>
                        </div>
                    </div>

                </div>

                <!-- Second Card -->
                <div class="card card-left">
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='Vanshi.jpg') }}" alt="Vanshika Profile Image"
                            class="developer-img">
                    </div>
                    <div class="card-content">
                        <h2>VANSHIKA KASHYAP</h2>
                        <p>I am a final-year Computer Science student with a solid background in C++ and Python. My
                            expertise lies in Machine
                            Learning, with practical experience in developing and implementing models. I am eager to
                            apply my knowledge to
                            innovative projects and contribute to impactful technological advancements.</p>
                        <div class="card-buttons">
                            <a href="https://drive.google.com/file/d/1Rah1vOK4OXjPgK1rWewdl4bgSFLcJbgt/view?usp=drivesdk"
                                class="btn resume" target="_blank"><i class="fas fa-file-alt"></i>Resume</a>
                            <a href="https://www.linkedin.com/in/vanshikaa2003/" class="btn linkedin" target="_blank"><i
                                    class="fab fa-linkedin"></i>LinkedIn</a>
                            <a href="mailto:vanshika.kashyap.15@gmail.com" class="btn email"><i
                                    class="fas fa-envelope"></i>Email Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>